<article class="post">
  <div class="title">

    <a href="/post/{{id}}"> {{title}} </a>                     

 </div>
  <div class="meta">

    Posted by {{user.username}} on {{format_date created_at}}
  </div>
  <div class="context">
   <p>{{ post-context}}<p>
   <p>{{ post_context }}</p>
   <p>{{ context }}</p>
  </div>

</article>